<h1><center>Tratamento inicial das bases de dados
<hr>

In [24]:
import pandas as pd

In [25]:
df_censo_2022 = pd.read_csv('dados/microdados_ed_basica_2022.csv',
                           sep = ';',
                           encoding = 'latin1',
                           low_memory = False)

print(f"Censo 2022 tem {df_censo_2022.shape[0] :,} linhas e {df_censo_2022.shape[1] :,} colunas.")

df_censo_2023 = pd.read_csv('dados/microdados_ed_basica_2023.csv',
                           sep = ';',
                           encoding = 'latin1',
                           low_memory = False)

print(f"Censo 2023 tem {df_censo_2023.shape[0] :,} linhas e {df_censo_2023.shape[1] :,} colunas.")

df_enem_2022 = pd.read_csv('dados/MICRODADOS_ENEM_2022.csv',
                           sep = ';',
                           encoding = 'latin1',
                           low_memory = False)

print(f"ENEM 2022 tem {df_enem_2022.shape[0] :,} linhas e {df_enem_2022.shape[1] :,} colunas.")

df_enem_2023 = pd.read_csv('dados/MICRODADOS_ENEM_2023.csv',
                           sep = ';',
                           encoding = 'latin1',
                           low_memory = False)

print(f"ENEM 2023 tem {df_enem_2023.shape[0] :,} linhas e {df_enem_2023.shape[1] :,} colunas.")

Censo 2022 tem  224,649 linhas e  385 colunas.
Censo 2023 tem  217,625 linhas e  408 colunas.
ENEM 2022 tem  3,476,105 linhas e  76 colunas.
ENEM 2023 tem  3,933,955 linhas e  76 colunas.

In [45]:
colunas_2022 = df_censo_2022.columns.tolist()
colunas_2023 = df_censo_2023 .columns.tolist()

df_colunas_2022 = pd.DataFrame(colunas_2022, columns = ['colunas_2022'])
df_colunas_2023 = pd.DataFrame(colunas_2023, columns = ['colunas_2023'])

df_colunas = pd.merge(
    df_colunas_2022,
    df_colunas_2023,
    left_on = 'colunas_2022',
    right_on = 'colunas_2023',
    how = 'outer',
    indicator = True,
    sort = False
)

print(df_colunas.shape)
df_colunas.query('_merge != "both"')

(456, 3)

                  colunas_2022           colunas_2023      _merge
13                         NaN    CO_REGIAO_GEOG_IMED  right_only
14                         NaN  CO_REGIAO_GEOG_INTERM  right_only
32            IN_AGUA_FILTRADA                    NaN   left_only
45   IN_BANHEIRO_DENTRO_PREDIO                    NaN   left_only
47     IN_BANHEIRO_FORA_PREDIO                    NaN   left_only
..                         ...                    ...         ...
431                        NaN     QT_TUR_INF_CRE_INT  right_only
432                        NaN         QT_TUR_INF_INT  right_only
434                        NaN     QT_TUR_INF_PRE_INT  right_only
436                        NaN         QT_TUR_MED_INT  right_only
443  TP_CONVENIO_PODER_PUBLICO                    NaN   left_only

[119 rows x 3 columns]

In [ ]:
dc_rename_enem = {
    'NU_INSCRICAO': 'id',
    'NU_ANO': 'ano',
    'TP_FAIXA_ETARIA': 'fx_etaria',
    'TP_SEXO': 'sexo',
    # 'TP_ESTADO_CIVIL': 'estado_civil',
    'TP_COR_RACA': 'raca',
    # 'TP_NACIONALIDADE': 'nacionalidade',
    'TP_ST_CONCLUSAO': 'conclusao_em',
    'TP_ANO_CONCLUIU': 'ano_conclusao_em',
    'TP_ESCOLA': 'tp_escola',
    'TP_ENSINO': 'tp_ensino',
    'IN_TREINEIRO': 'flag_treineiro',
    'CO_MUNICIPIO_ESC': 'cod_municipio',
    'CO_UF_ESC': 'cod_uf',
    'SG_UF_ESC': 'sigla_uf',
    'TP_DEPENDENCIA_ADM_ESC': 'tp_adm_escola',
    'TP_LOCALIZACAO_ESC': 'tp_local_escola',
    'TP_SIT_FUNC_ESC': 'funcionamento_escola',
    'TP_PRESENCA_CN': 'presenca_ciencias',
    'TP_PRESENCA_CH': 'presenca_humanas',
    'TP_PRESENCA_LC': 'presenca_linguagem',
    'TP_PRESENCA_MT': 'presenca_matematica',
    'NU_NOTA_CN': 'nota_ciencias',
    'NU_NOTA_CH': 'nota_humanas',
    'NU_NOTA_LC': 'nota_linguagem',
    'NU_NOTA_MT': 'nota_matematica',
    'TP_LINGUA': 'lingua_estrangeira',
    'TP_STATUS_REDACAO': 'status_redacao',
    'NU_NOTA_REDACAO': 'nota_redacao',
    'Q001': 'escolaridade_pai',
    'Q002': 'escolaridade_mae',
    'Q003': 'ocupacao_pai',
    'Q004': 'ocupacao_mae',
    'Q005': 'qtd_moradores',
    'Q006': 'fx_renda_familiar_mensal',
    'Q007': 'empregada_domestica',
    'Q008': 'qtd_banheiros',
    'Q009': 'qtd_banheiros',
    'Q010': 'qtd_carros',
    'Q011': 'qtd_motos',
    'Q012': 'qtd_geladeiras',
    'Q013': 'qtd_freezer',
    'Q014': 'qtd_maq_lavar',
    'Q015': 'qtd_maq_secar',
    'Q016': 'qtd_forno_micro',
    'Q017': 'qtd_mar_louca',
    'Q018': 'qtd_aspirador',
    'Q019': 'qtd_tv_cor',
    'Q020': 'flag_dvd',
    'Q021': 'flag_tv_assinatura',
    'Q022': 'qtd_celular',
    'Q023': 'flag_tel_fixo',
    'Q024': 'qtd_computador',
    'Q025': 'flag_internet'
}                                   # vou renomear essas colunas e manter apenas essas

cols_to_drop = [col for col in df_enem_2023.columns if col not in dc_rename_enem.keys()]
print(f"Removendo {len(cols_to_drop):,} colunas.")

df_enem_2023.drop(columns = cols_to_drop, inplace = True)

df_enem_2023.rename(columns = dc_rename_enem, inplace = True)

del cols_to_drop, dc_rename_enem       # para economizar memória

In [ ]:
de_para_presenca = {    # de acordo com o dicionario de dados
    0: 'nao',           # ausente
    1: 'sim',           # presente
    2: 'nao'            # eliminado
}

df_enem_2023['presenca_ciencias'] = df_enem_2023['presenca_ciencias'].replace(de_para_presenca)
df_enem_2023['presenca_humanas'] = df_enem_2023['presenca_humanas'].replace(de_para_presenca)
df_enem_2023['presenca_linguagem'] = df_enem_2023['presenca_linguagem'].replace(de_para_presenca)
df_enem_2023['presenca_matematica'] = df_enem_2023['presenca_matematica'].replace(de_para_presenca)

df_enem_2023['presenca'] = (
    (df_enem_2023['presenca_ciencias'] == 'sim') &
    (df_enem_2023['presenca_humanas'] == 'sim') &
    (df_enem_2023['presenca_linguagem'] == 'sim') &
    (df_enem_2023['presenca_matematica'] == 'sim')
).map({True: 'sim', False: 'nao'})

In [ ]:
df_enem_2023.groupby(['presenca', 'presenca_ciencias', 'presenca_humanas', 'presenca_linguagem', 'presenca_matematica']).size().reset_index(name = 'count')

In [ ]:
df_enem_2023 = df_enem_2023[df_enem_2023['presenca'] == 'sim'].reset_index(drop = True)

In [ ]:
de_para_fx_etaria = {
        1: '0 - 16',
        2: '17',
        3: '18',
        4: '19',
        5: '20',
        6: '21',
        7: '22',
        8: '23',
        9: '24',
        10: '25',
        11: '26 - 30',
        12: '31 - 35',
        13: '36 - 40',
        14: '41 - 45',
        15: '46 - 50',
        16: '51 - 55',
        17: '56 - 60',
        18: '61 - 65',
        19: '66 - 70',
        20: '70 - 99'
}

df_enem_2023['fx_etaria'] = df_enem_2023['fx_etaria'].replace(de_para_fx_etaria)

de_para_fx_etaria_num = {
        '0 - 16' : 16,
        '17' : 17,
        '18' : 18,
        '19' : 19,
        '20' : 20,
        '21' : 21,
        '22' : 22,
        '23' : 23,
        '24' : 24,
        '25' : 25,
        '26 - 30' : 28,
        '31 - 35' : 33,
        '36 - 40' : 38,
        '41 - 45' : 42,
        '46 - 50' : 46,
        '51 - 55' : 51,
        '56 - 60' : 56,
        '61 - 65' : 61,
        '66 - 70' : 66,
        '70 - 99' : 70
}

df_enem_2023['fx_etaria_num'] = df_enem_2023['fx_etaria'].replace(de_para_fx_etaria_num).astype(int).infer_objects(copy = False)

del de_para_fx_etaria, de_para_fx_etaria_num    # para economizar memória

In [ ]:
de_para_tp_escola = {       # de acordo com o dicionario de dados
    1: 'NA',                # não informado
    2: 'publica',
    3: 'privada'
}

df_enem_2023['tp_escola'] = df_enem_2023['tp_escola'].replace(de_para_tp_escola)

In [ ]:
# dc_nulos_enem_2023 = dict(zip(df_enem_2023.columns, df_enem_2023.isnull().sum().to_list()))

# dc_nulos_enem_2023 = {key: value for key, value in dc_nulos_enem_2023.items() if value > 0}

# print(f"ENEM 2023 tem {len(dc_nulos_enem_2023)} colunas com nulos.")

# for key, value in dc_nulos_enem_2023.items():

#     print(f"{key:30} {value:10,} ({value / df_enem_2023.shape[0] * 100:.2f}%)")

In [ ]:
# df_enem_2023['tp_escola'].value_counts() / df_enem_2023.shape[0] * 100

# # mtos não responderam a essa perguinta
# # vale separar as bases entre cada tipo de escola