# <center>ENEM - pt. 3
<hr>

## <center>Inicialização
<hr>

In [1]:
%%time

from tcc_funcoes import *

CPU times: user 1.06 s, sys: 59.2 ms, total: 1.12 s
Wall time: 570 ms

## <center>Importação dos Dados
<hr>

Vou carregar os arquivos CSV já deixando de carregar algumas variáveis. Elas representam o número de inscrição do candidato, as notas nas cinco competências da Redação, dados referente ao local de realização da prova, os códigos identificadores de cada prova, as respostas que o candidato deu para cada prova e o gabarito de cada prova.

In [2]:
%%time

colunas_para_carregar = [
    'NU_ANO',                   'TP_FAIXA_ETARIA',      'TP_SEXO',
    'TP_ESTADO_CIVIL',          'TP_COR_RACA',          'TP_NACIONALIDADE',
    'TP_ST_CONCLUSAO',          'TP_ANO_CONCLUIU',      'TP_ESCOLA',
    'TP_ENSINO',                'IN_TREINEIRO',         'CO_MUNICIPIO_ESC',
    'NO_MUNICIPIO_ESC',         'CO_UF_ESC',            'SG_UF_ESC',
    'TP_DEPENDENCIA_ADM_ESC',   'TP_LOCALIZACAO_ESC',   'TP_SIT_FUNC_ESC',
    'TP_PRESENCA_CN',           'TP_PRESENCA_CH',       'TP_PRESENCA_LC',
    'TP_PRESENCA_MT',           'NU_NOTA_CN',           'NU_NOTA_CH',
    'NU_NOTA_LC',               'NU_NOTA_MT',           'TP_LINGUA',
    'TP_STATUS_REDACAO',        'NU_NOTA_REDACAO',      'Q001',
    'Q002',                     'Q003',                 'Q004',
    'Q005',                     'Q006',                 'Q007',
    'Q008',                     'Q009',                 'Q010',
    'Q011',                     'Q012',                 'Q013',
    'Q014',                     'Q015',                 'Q016',
    'Q017',                     'Q018',                 'Q019',
    'Q020',                     'Q021',                 'Q022',
    'Q023',                     'Q024',                 'Q025'
]

CPU times: user 1e+03 ns, sys: 0 ns, total: 1e+03 ns
Wall time: 2.62 μs

In [3]:
%%time

df_enem = pd.DataFrame()

for ano in [2020, 2021, 2022, 2023]:

    df = otimizar_memoria(
        pd.read_csv(
            f'dados/MICRODADOS_ENEM_{ano}.csv',
            sep=';',
            encoding='latin1',
            engine='pyarrow',
            usecols=colunas_para_carregar
        )
    )

    df.info(memory_usage='deep', verbose=False)

    print()
    print(f"ENEM {ano} tem {df.shape[0] :,} linhas e {df.shape[1] :,} colunas.")
    print()

    df_enem = pd.concat([df_enem, df], ignore_index = True)

    del df
    gc.collect()

del ano, colunas_para_carregar
gc.collect()

df_enem.info(memory_usage='deep', verbose=False)
print(f"ENEM final tem {df_enem.shape[0] :,} linhas e {df_enem.shape[1] :,} colunas.")
print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5783109 entries, 0 to 5783108
Columns: 54 entries, NU_ANO to Q025
dtypes: category(27), float16(12), float32(1), int16(1), int8(13)
memory usage: 392.1 MB

ENEM 2020 tem 5,783,109 linhas e 54 colunas.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3389832 entries, 0 to 3389831
Columns: 54 entries, NU_ANO to Q025
dtypes: category(27), float16(12), float32(1), int16(1), int8(13)
memory usage: 230.1 MB

ENEM 2021 tem 3,389,832 linhas e 54 colunas.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3476105 entries, 0 to 3476104
Columns: 54 entries, NU_ANO to Q025
dtypes: category(27), float16(11), float32(1), int16(1), int8(14)
memory usage: 232.6 MB

ENEM 2022 tem 3,476,105 linhas e 54 colunas.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933955 entries, 0 to 3933954
Columns: 54 entries, NU_ANO to Q025
dtypes: category(27), float16(11), float32(1), int16(1), int8(14)
memory usage: 263.2 MB

ENEM 2023 tem 3,933,955 linhas e 54 colunas.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16583001 entries, 0 to 16583000
Columns: 54 entries, NU_ANO to Q025
dtypes: category(26), float16(12), float32(1), int16(1), int8(13), object(1)
memory usage: 1.7 GB
ENEM final tem 16,583,001 linhas e 54 colunas.

CPU times: user 35.5 s, sys: 8.18 s, total: 43.7 s
Wall time: 39 s

In [4]:
df_enem.reset_index(inplace = True)
df_enem.head()

,index,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,0,2020,11,F,1,2,1,1,11,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020,11,M,2,3,1,1,11,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020,4,F,2,3,2,2,0,2,...,B,A,A,B,A,A,A,A,A,A
3,3,2020,2,M,1,3,1,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020,4,F,1,3,2,1,1,1,...,A,A,A,B,A,B,B,A,A,B

## <center>Renomeando
<hr>

In [5]:
%%time

df_enem.rename(columns = {
    'NU_INSCRICAO'              : 'num_inscricao',
    'NU_ANO'                    : 'edicao',
    'TP_FAIXA_ETARIA'           : 'fx_etaria',
    'TP_SEXO'                   : 'sexo',
    'TP_ESTADO_CIVIL'           : 'estado_civil',
    'TP_COR_RACA'               : 'cor_raca',
    'TP_NACIONALIDADE'          : 'nacionalidade',
    'TP_ST_CONCLUSAO'           : 'conclusao_ensino_medio',
    'TP_ANO_CONCLUIU'           : 'ano_conclusao_ensino_medio',
    'TP_ESCOLA'                 : 'tp_escola',
    'TP_ENSINO'                 : 'tp_ensino',
    'IN_TREINEIRO'              : 'flag_treineiro',
    'CO_MUNICIPIO_ESC'          : 'cod_municipio_escola',
    'NO_MUNICIPIO_ESC'          : 'nome_municipio_escola',
    'CO_UF_ESC'                 : 'cod_uf_escola',
    'SG_UF_ESC'                 : 'sigla_uf_escola',
    'TP_DEPENDENCIA_ADM_ESC'    : 'tp_adm_escola',
    'TP_LOCALIZACAO_ESC'        : 'tp_local_escola',
    'TP_SIT_FUNC_ESC'           : 'funcionamento_escola',
    'CO_MUNICIPIO_PROVA'        : 'cod_municipio_prova',
    'NO_MUNICIPIO_PROVA'        : 'nome_municipio_prova',
    'CO_UF_PROVA'               : 'cod_uf_prova',
    'SG_UF_PROVA'               : 'sigla_uf_prova',
    'TP_PRESENCA_CN'            : 'presenca_ciencias_natureza',
    'TP_PRESENCA_CH'            : 'presenca_ciencias_humanas',
    'TP_PRESENCA_LC'            : 'presenca_linguagem_codigos',
    'TP_PRESENCA_MT'            : 'presenca_matematica',
    'CO_PROVA_CN'               : 'cod_prova_ciencias_natureza',
    'CO_PROVA_CH'               : 'cod_prova_ciencias_humanas',
    'CO_PROVA_LC'               : 'cod_prova_linguagem_codigos',
    'CO_PROVA_MT'               : 'cod_prova_matematica',
    'NU_NOTA_CN'                : 'nota_ciencias_natureza',
    'NU_NOTA_CH'                : 'nota_ciencias_humanas',
    'NU_NOTA_LC'                : 'nota_linguagem_codigos',
    'NU_NOTA_MT'                : 'nota_matematica',
    'TX_RESPOSTAS_CN'           : 'respostas_ciencias_natureza',
    'TX_RESPOSTAS_CH'           : 'respostas_ciencias_humanas',
    'TX_RESPOSTAS_LC'           : 'respostas_linguagem_codigos',
    'TX_RESPOSTAS_MT'           : 'respostas_matematica',
    'TP_LINGUA'                 : 'lingua_estrangeira',
    'TX_GABARITO_CN'            : 'gabarito_ciencias_natureza',
    'TX_GABARITO_CH'            : 'gabarito_ciencias_humanas',
    'TX_GABARITO_LC'            : 'gabarito_linguagem_codigos',
    'TX_GABARITO_MT'            : 'gabarito_matematica',
    'TP_STATUS_REDACAO'         : 'status_redacao',
    'NU_NOTA_COMP1'             : 'nota_redacao_competencia_1',
    'NU_NOTA_COMP2'             : 'nota_redacao_competencia_2',
    'NU_NOTA_COMP3'             : 'nota_redacao_competencia_3',
    'NU_NOTA_COMP4'             : 'nota_redacao_competencia_4',
    'NU_NOTA_COMP5'             : 'nota_redacao_competencia_5',
    'NU_NOTA_REDACAO'           : 'nota_redacao',
    'Q001'                      : '01_escolaridade_pai',
    'Q002'                      : '02_escolaridade_mae',
    'Q003'                      : '03_ocupacao_pai',
    'Q004'                      : '04_ocupacao_mae',
    'Q005'                      : '05_qtde_moradores',
    'Q006'                      : '06_renda_familiar',
    'Q007'                      : '07_qtde_trabalhador_domestico',
    'Q008'                      : '08_qtde_banheiro',
    'Q009'                      : '09_qtde_quarto',
    'Q010'                      : '10_qtde_carro',
    'Q011'                      : '11_qtde_motocicleta',
    'Q012'                      : '12_qtde_geladeira',
    'Q013'                      : '13_qtde_freezer',
    'Q014'                      : '14_qtde_maq_lavar_roupa',
    'Q015'                      : '15_qtde_maq_secar_roupa',
    'Q016'                      : '16_qtde_micro_ondas',
    'Q017'                      : '17_qtde_maq_lavar_louca',
    'Q018'                      : '18_flag_aspirador_po',
    'Q019'                      : '19_qtde_tv',
    'Q020'                      : '20_flag_aparelho_dvd',
    'Q021'                      : '21_flag_tv_assinatura',
    'Q022'                      : '22_qtde_celular',
    'Q023'                      : '23_flag_telefone_fixo',
    'Q024'                      : '24_qtde_computadores',
    'Q025'                      : '25_flag_internet'
}, inplace = True)

CPU times: user 124 μs, sys: 28 μs, total: 152 μs
Wall time: 156 μs

## <center>Ajuste nos valores das variáveis
<hr>

As variáveis categóricas estão representados por códigos numéricos. Vamos trocar o valor delas por um rótulo textual.

Alguns dos códigos representam ausência de informação e vamos mapear um valor nulo para esses codigos.

In [6]:
%%time

### Presença

dc_presenca = {
    0: 'Falta',
    1: 'Presente',
    2: 'Eliminado'
}

df_enem['presenca_ciencias_humanas'] = df_enem['presenca_ciencias_humanas'].map(dc_presenca).astype('category')
df_enem['presenca_ciencias_natureza'] = df_enem['presenca_ciencias_natureza'].map(dc_presenca).astype('category')
df_enem['presenca_linguagem_codigos'] = df_enem['presenca_linguagem_codigos'].map(dc_presenca).astype('category')
df_enem['presenca_matematica'] = df_enem['presenca_matematica'].map(dc_presenca).astype('category')

del dc_presenca
gc.collect()

CPU times: user 1.46 s, sys: 0 ns, total: 1.46 s
Wall time: 1.46 s

0

In [7]:
%%time

### Status Redação

dc_status_redacao = {
    1:	'sem_problemas',
    2:	'anulada',
    3:	'copia_texto_motivador',
    4:	'em_branco',
    6:	'fuga_ao_tema',
    7:	'nao_atendimento_ao_tipo_textual',
    8:	'texto_insuficiente',
    9:	'parte_desconectada',
    None: 'nulo'
}

df_enem['status_redacao'] = df_enem['status_redacao'].astype('float32').map(dc_status_redacao).astype('category')

del dc_status_redacao
gc.collect()

CPU times: user 521 ms, sys: 0 ns, total: 521 ms
Wall time: 521 ms

0

In [8]:
%%time

### Estado Civil

dc_estado_civil = {
    0: None,
    1: 'solteiro',
    2: 'casado',
    3: 'separado',
    4: 'viuvo'
}

df_enem['estado_civil'] = df_enem['estado_civil'].map(dc_estado_civil).astype('category')

del dc_estado_civil
gc.collect()

CPU times: user 403 ms, sys: 0 ns, total: 403 ms
Wall time: 402 ms

0

In [9]:
%%time

### Cor/Raça

dc_cor_raca = {
    0: None,
    1: 'branca',
    2: 'preta',
    3: 'parda',
    4: 'amarela',
    5: 'indigena',
    6: None
}

df_enem['cor_raca'] = df_enem['cor_raca'].map(dc_cor_raca).astype('category')

del dc_cor_raca
gc.collect()

CPU times: user 369 ms, sys: 0 ns, total: 369 ms
Wall time: 369 ms

0

In [10]:
%%time

### Nacionalidade

dc_nacionalidade = {
    0: None,
    1: 'brasileiro',
    2: 'naturalizado',
    3: 'estrangeiro',
    4: 'brasileiro_nascido_exterior'
}

df_enem['nacionalidade'] = df_enem['nacionalidade'].map(dc_nacionalidade).astype('category')

del dc_nacionalidade
gc.collect()

CPU times: user 399 ms, sys: 0 ns, total: 399 ms
Wall time: 398 ms

0

In [11]:
%%time

### Tipo de Escola

dc_tp_escola = {
    1: None,
    2: 'Pública',
    3: 'Privada'
}

df_enem['tp_escola'] = df_enem['tp_escola'].map(dc_tp_escola).astype('category')

del dc_tp_escola
gc.collect()

CPU times: user 364 ms, sys: 0 ns, total: 364 ms
Wall time: 363 ms

0

In [12]:
%%time

### Escolaridade dos Pai e da Mãe

dc_escolaridade = {
    'A': 'A',
    'B': 'B',
    'C': 'C',
    'D': 'D',
    'E': 'E',
    'F': 'F',
    'G': 'G',
    'H': None
}

df_enem['01_escolaridade_pai'] = df_enem['01_escolaridade_pai'].map(dc_escolaridade).astype('category')
df_enem['02_escolaridade_mae'] = df_enem['02_escolaridade_mae'].map(dc_escolaridade).astype('category')

del dc_escolaridade
gc.collect()

CPU times: user 748 ms, sys: 0 ns, total: 748 ms
Wall time: 748 ms

0

In [13]:
%%time

### Ocupação dos Pai e da Mãe

dc_ocupacao = {
    'A': 'A',
    'B': 'B',
    'C': 'C',
    'D': 'D',
    'E': 'E',
    'F': None
}

df_enem['03_ocupacao_pai'] = df_enem['03_ocupacao_pai'].map(dc_ocupacao).astype('category')
df_enem['04_ocupacao_mae'] = df_enem['04_ocupacao_mae'].map(dc_ocupacao).astype('category')

del dc_ocupacao
gc.collect()

CPU times: user 761 ms, sys: 0 ns, total: 761 ms
Wall time: 761 ms

0

In [14]:
%%time

### Língua Estrangeira

dc_lingua_estrangeira = {
    0: 'ingles',
    1: 'espanhol'
}

df_enem['lingua_estrangeira'] = df_enem['lingua_estrangeira'].map(dc_lingua_estrangeira).astype('category')

del dc_lingua_estrangeira
gc.collect()

CPU times: user 407 ms, sys: 0 ns, total: 407 ms
Wall time: 406 ms

0

In [15]:
%%time

### Tipo de Ensino

dc_tp_ensino = {
    1: 'regular',
    2: 'especial'
}

df_enem['tp_ensino'] = df_enem['tp_ensino'].astype('float32').map(dc_tp_ensino).astype('category')

del dc_tp_ensino
gc.collect()

CPU times: user 507 ms, sys: 0 ns, total: 507 ms
Wall time: 506 ms

0

In [16]:
%%time

### Faixa Etária

dc_fx_etaria = {
    1: 'A',
    2: 'B',
    3: 'C',
    4: 'D',
    5: 'E',
    6: 'F',
    7: 'G',
    8: 'H',
    9: 'I',
    10: 'J',
    11: 'K',
    12: 'L',
    13: 'M',
    14: 'N',
    15: 'O',
    16: 'P',
    17: 'Q',
    18: 'R',
    19: 'S',
    20: 'T'
}

df_enem['fx_etaria'] = df_enem['fx_etaria'].map(dc_fx_etaria).astype('category')

del dc_fx_etaria
gc.collect()

CPU times: user 308 ms, sys: 0 ns, total: 308 ms
Wall time: 307 ms

0

## <center>Análise dos valores nulos
<hr>

In [17]:
%%time

cols_missing = calcula_missing(df_enem)

==================================================

Percentual de valores ausentes por variável

                         variavel    %_nulos
0                 sigla_uf_escola  78.117200
1            cod_municipio_escola  78.117200
2                   tp_adm_escola  78.117200
3           nome_municipio_escola  78.117200
4                   cod_uf_escola  78.117200
5                 tp_local_escola  78.117200
6            funcionamento_escola  78.117200
7                       tp_ensino  69.835984
8                       tp_escola  68.248202
9          nota_ciencias_natureza  40.353944
10                nota_matematica  40.353944
11          nota_ciencias_humanas  36.992080
12                   nota_redacao  36.992080
13         nota_linguagem_codigos  36.992080
14                03_ocupacao_pai  12.518470
15            01_escolaridade_pai   9.838316
16                04_ocupacao_mae   8.991262
17                   estado_civil   4.244533
18            02_escolaridade_mae   3.516661
19                       cor_raca   1.842121
20                  10_qtde_carro   0.578713
21              05_qtde_moradores   0.578713
22              06_renda_familiar   0.578713
23  07_qtde_trabalhador_domestico   0.578713
24               08_qtde_banheiro   0.578713
25                 09_qtde_quarto   0.578713
26           18_flag_aspirador_po   0.578713
27            11_qtde_motocicleta   0.578713
28              12_qtde_geladeira   0.578713
29                13_qtde_freezer   0.578713
30        14_qtde_maq_lavar_roupa   0.578713
31        15_qtde_maq_secar_roupa   0.578713
32            16_qtde_micro_ondas   0.578713
33        17_qtde_maq_lavar_louca   0.578713
34                22_qtde_celular   0.578713
35                     19_qtde_tv   0.578713
36           20_flag_aparelho_dvd   0.578713
37          21_flag_tv_assinatura   0.578713
38           24_qtde_computadores   0.578713
39          23_flag_telefone_fixo   0.578713
40               25_flag_internet   0.578713
41                  nacionalidade   0.046861

==================================================
CPU times: user 1.96 s, sys: 197 ms, total: 2.15 s
Wall time: 2.15 s

Começamos retirando as variávei com missing maior que 50% das observações.

In [18]:
%%time

cols_drop = cols_missing[cols_missing['%_nulos'] > 50]['variavel'].to_list()
cols_missing = cols_missing[cols_missing['%_nulos'] <= 50]

df_enem.drop(columns = cols_drop, inplace = True)

print(f"Foram removidas {len(cols_drop)} variáveis.")
print()

print("=" * 50)
print()

print("Percentual de valores ausentes por variável\n")

print(cols_missing)

print()
print("=" * 50)

del cols_drop
gc.collect()

Foram removidas 9 variáveis.

==================================================

Percentual de valores ausentes por variável

                         variavel    %_nulos
9          nota_ciencias_natureza  40.353944
10                nota_matematica  40.353944
11          nota_ciencias_humanas  36.992080
12                   nota_redacao  36.992080
13         nota_linguagem_codigos  36.992080
14                03_ocupacao_pai  12.518470
15            01_escolaridade_pai   9.838316
16                04_ocupacao_mae   8.991262
17                   estado_civil   4.244533
18            02_escolaridade_mae   3.516661
19                       cor_raca   1.842121
20                  10_qtde_carro   0.578713
21              05_qtde_moradores   0.578713
22              06_renda_familiar   0.578713
23  07_qtde_trabalhador_domestico   0.578713
24               08_qtde_banheiro   0.578713
25                 09_qtde_quarto   0.578713
26           18_flag_aspirador_po   0.578713
27            11_qtde_motocicleta   0.578713
28              12_qtde_geladeira   0.578713
29                13_qtde_freezer   0.578713
30        14_qtde_maq_lavar_roupa   0.578713
31        15_qtde_maq_secar_roupa   0.578713
32            16_qtde_micro_ondas   0.578713
33        17_qtde_maq_lavar_louca   0.578713
34                22_qtde_celular   0.578713
35                     19_qtde_tv   0.578713
36           20_flag_aparelho_dvd   0.578713
37          21_flag_tv_assinatura   0.578713
38           24_qtde_computadores   0.578713
39          23_flag_telefone_fixo   0.578713
40               25_flag_internet   0.578713
41                  nacionalidade   0.046861

==================================================
CPU times: user 277 ms, sys: 28.7 ms, total: 306 ms
Wall time: 305 ms

0

Para as variáveis das notas, vamos analisar rapidamente como é o preenchimento.

In [19]:
%%time

### Preenchimento das notas

v_notas = \
    list(df_enem['nota_ciencias_humanas'].unique()) + \
    list(df_enem['nota_ciencias_natureza'].unique()) + \
    list(df_enem['nota_linguagem_codigos'].unique()) + \
    list(df_enem['nota_matematica'].unique()) + \
    list(df_enem['nota_redacao'].unique())

v_notas.sort()

print(f'Há zero nas notas? {0 in v_notas}')

del v_notas
gc.collect()

Há zero nas notas? True
CPU times: user 709 ms, sys: 0 ns, total: 709 ms
Wall time: 708 ms

0

Existem valores nuloes e valores zerado. Precisamos entender se existe diferença e para isso vamos analisar as notas junto da variável de presença correspondente e para a redação vamos adicionar o status da redação também.

In [20]:
%%time

dc_analise_missing = {
    'nota_ciencias_natureza' : ['presenca_ciencias_natureza'],
    'nota_ciencias_humanas' : ['presenca_ciencias_humanas'],
    'nota_linguagem_codigos' : ['presenca_linguagem_codigos'],
    'nota_matematica' : ['presenca_matematica'],
    'nota_redacao' : ['presenca_linguagem_codigos', 'status_redacao']
}

print("=" * 50)

df_notas = pd.DataFrame()

for nota, colunas in dc_analise_missing.items():

    print(f"\nAnálise de missing para a variável {nota}\n")

    tipo_col = 'tipo_' + nota

    grp_cols = list(colunas) + [tipo_col]

    df_enem[tipo_col] = 'Com nota'

    df_enem.loc[df_enem[nota].isnull(), tipo_col] = 'Nulo'

    df_enem.loc[df_enem[nota] == 0, tipo_col] = 'Zero'

    df_temp = df_enem.groupby(grp_cols).size().reset_index(name = 'quantidade')

    df_notas = pd.concat([df_notas, df_temp], ignore_index = True)

    print(df_temp)

    print(df_temp['quantidade'].sum(), df_enem.shape[0], df_temp['quantidade'].sum() == df_enem.shape[0])

    print("\n" + "=" * 50)

print()

df_enem.drop(columns = [
    'tipo_nota_ciencias_natureza',
    'tipo_nota_ciencias_humanas',
    'tipo_nota_linguagem_codigos',
    'tipo_nota_matematica',
    'tipo_nota_redacao'
], inplace = True)

del tipo_col, grp_cols, nota, colunas, df_temp, dc_analise_missing, df_notas
gc.collect()

==================================================

Análise de missing para a variável nota_ciencias_natureza

<timed exec>:27: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.

  presenca_ciencias_natureza tipo_nota_ciencias_natureza  quantidade
0                  Eliminado                    Com nota           0
1                  Eliminado                        Nulo        6664
2                  Eliminado                        Zero           0
3                      Falta                    Com nota           0
4                      Falta                        Nulo     6685231
5                      Falta                        Zero           0
6                   Presente                    Com nota     9872947
7                   Presente                        Nulo           0
8                   Presente                        Zero       18159
16583001 16583001 True

==================================================

Análise de missing para a variável nota_ciencias_humanas

<timed exec>:27: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.

  presenca_ciencias_humanas tipo_nota_ciencias_humanas  quantidade
0                 Eliminado                   Com nota           0
1                 Eliminado                       Nulo       17715
2                 Eliminado                       Zero           0
3                     Falta                   Com nota           0
4                     Falta                       Nulo     6116682
5                     Falta                       Zero           0
6                  Presente                   Com nota    10428820
7                  Presente                       Nulo           0
8                  Presente                       Zero       19784
16583001 16583001 True

==================================================

Análise de missing para a variável nota_linguagem_codigos

<timed exec>:27: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.

  presenca_linguagem_codigos tipo_nota_linguagem_codigos  quantidade
0                  Eliminado                    Com nota           0
1                  Eliminado                        Nulo       17715
2                  Eliminado                        Zero           0
3                      Falta                    Com nota           0
4                      Falta                        Nulo     6116682
5                      Falta                        Zero           0
6                   Presente                    Com nota    10440069
7                   Presente                        Nulo           0
8                   Presente                        Zero        8535
16583001 16583001 True

==================================================

Análise de missing para a variável nota_matematica

<timed exec>:27: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.

  presenca_matematica tipo_nota_matematica  quantidade
0           Eliminado             Com nota           0
1           Eliminado                 Nulo        6664
2           Eliminado                 Zero           0
3               Falta             Com nota           0
4               Falta                 Nulo     6685231
5               Falta                 Zero           0
6            Presente             Com nota     9872559
7            Presente                 Nulo           0
8            Presente                 Zero       18547
16583001 16583001 True

==================================================

Análise de missing para a variável nota_redacao

<timed exec>:27: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.

   presenca_linguagem_codigos         status_redacao tipo_nota_redacao  \
0                   Eliminado                anulada          Com nota
1                   Eliminado                anulada              Nulo
2                   Eliminado                anulada              Zero
3                   Eliminado  copia_texto_motivador          Com nota
4                   Eliminado  copia_texto_motivador              Nulo
..                        ...                    ...               ...
76                   Presente          sem_problemas              Nulo
77                   Presente          sem_problemas              Zero
78                   Presente     texto_insuficiente          Com nota
79                   Presente     texto_insuficiente              Nulo
80                   Presente     texto_insuficiente              Zero

    quantidade
0            0
1            0
2            0
3            0
4            0
..         ...
76           0
77           0
78           0
79           0
80       28510

[81 rows x 4 columns]
16583001 16583001 True

==================================================

CPU times: user 3.52 s, sys: 1.19 s, total: 4.71 s
Wall time: 4.71 s

0

Vemos que para as 5 notas, os valores nulos estão relacionados a participantes que faltaram à prova ou que foram eliminados.

Já as notas zeradas são de alunos que estavam presentes na prova.

Na redação, as notas zerados são de alunos presente que tiveram algum problema na Redação, como a cópia do texto motivador.

Por enquanto, iremos manter as notas zeradas e retiraremos as observações com notas nulas futuramente.

In [21]:
%%time

cols_missing = cols_missing[~cols_missing['variavel'].isin([
    'nota_ciencias_natureza',
    'nota_ciencias_humanas',
    'nota_linguagem_codigos',
    'nota_matematica',
    'nota_redacao',
    'status_redacao'
])].reset_index(drop = True)

print(cols_missing)

                         variavel    %_nulos
0                 03_ocupacao_pai  12.518470
1             01_escolaridade_pai   9.838316
2                 04_ocupacao_mae   8.991262
3                    estado_civil   4.244533
4             02_escolaridade_mae   3.516661
5                        cor_raca   1.842121
6                   10_qtde_carro   0.578713
7               05_qtde_moradores   0.578713
8               06_renda_familiar   0.578713
9   07_qtde_trabalhador_domestico   0.578713
10               08_qtde_banheiro   0.578713
11                 09_qtde_quarto   0.578713
12           18_flag_aspirador_po   0.578713
13            11_qtde_motocicleta   0.578713
14              12_qtde_geladeira   0.578713
15                13_qtde_freezer   0.578713
16        14_qtde_maq_lavar_roupa   0.578713
17        15_qtde_maq_secar_roupa   0.578713
18            16_qtde_micro_ondas   0.578713
19        17_qtde_maq_lavar_louca   0.578713
20                22_qtde_celular   0.578713
21                     19_qtde_tv   0.578713
22           20_flag_aparelho_dvd   0.578713
23          21_flag_tv_assinatura   0.578713
24           24_qtde_computadores   0.578713
25          23_flag_telefone_fixo   0.578713
26               25_flag_internet   0.578713
27                  nacionalidade   0.046861
CPU times: user 695 μs, sys: 136 μs, total: 831 μs
Wall time: 827 μs

Para as variáveis que restam, iremos avaliar de forma consolidada, ou seja, se uma observação possuir um valor faltante em uma das variáveis, iremos retirar essa observação do conjunto de dados.

In [22]:
%%time

cols_missing = cols_missing['variavel'].to_list()

df_enem['flag_missing'] = df_enem[cols_missing].isnull().any(axis = 1).astype('bool')

print(f"{df_enem['flag_missing'].sum():,} linhas com algum valor missing.")
print(f"{df_enem['flag_missing'].sum() / df_enem.shape[0]:.2%} linhas com algum valor missing.")

df_enem = df_enem[~df_enem['flag_missing']].reset_index(drop = True)
df_enem.drop(columns = ['flag_missing'], inplace = True)

4,341,559 linhas com algum valor missing.
26.18% linhas com algum valor missing.
CPU times: user 714 ms, sys: 69.5 ms, total: 784 ms
Wall time: 783 ms

In [23]:
%%time

cols_missing = calcula_missing(df_enem)

del cols_missing
gc.collect()

==================================================

Percentual de valores ausentes por variável

                 variavel    %_nulos
0  nota_ciencias_natureza  38.732300
1         nota_matematica  38.732300
2   nota_ciencias_humanas  35.505204
3  nota_linguagem_codigos  35.505204
4            nota_redacao  35.505204

==================================================
CPU times: user 580 ms, sys: 0 ns, total: 580 ms
Wall time: 579 ms

0

Sobram apenas as variáveis de notas com valores nulos.

In [24]:
%%time

print(f"ENEM final tem {df_enem.shape[0] :,} linhas e {df_enem.shape[1] :,} colunas.")

ENEM final tem 12,241,442 linhas e 46 colunas.
CPU times: user 28 μs, sys: 0 ns, total: 28 μs
Wall time: 27.7 μs

## <center>Separando os conjuntos de dados
<hr>

Como possuímos cinco variáveis respostas, será necessário criar cinco conjuntos de dados distintos, um para cada variável resposta.

Para cada conjunto de dados, iremos retirar as outras quatro variáveis respostas e as variáveis de presença.

Para facilitar, iremos usar um dicionário para armazenar os cinco conjuntos de dados distintos.

In [25]:
%%time

dc_dfs = {}
dc_preditoras = {}
dc_target = {}

edicoes = df_enem['edicao'].unique().tolist()

CPU times: user 18.2 ms, sys: 0 ns, total: 18.2 ms
Wall time: 18.1 ms

In [26]:
%%time

### Ciências Humanas

dc_dfs['Ciências Humanas'] = df_enem[
    (df_enem['presenca_ciencias_humanas'] == 'Presente')
    #   &
    # (df_enem['nota_ciencias_humanas'] != 0)
].copy()

dc_dfs['Ciências Humanas'].drop(columns =
    [
        'presenca_ciencias_humanas',
        'presenca_ciencias_natureza',
        'presenca_linguagem_codigos',
        'presenca_matematica',
        'status_redacao',
        'nota_ciencias_natureza',
        'nota_linguagem_codigos',
        'nota_matematica',
        'nota_redacao'
    ],
    inplace = True
)

dc_preditoras['Ciências Humanas'] = dc_dfs['Ciências Humanas'].columns.tolist()
dc_preditoras['Ciências Humanas'].remove('nota_ciencias_humanas')

dc_target['Ciências Humanas'] = 'nota_ciencias_humanas'

print(f"A base com os dados de Ciências Humanas tem {dc_dfs['Ciências Humanas'].shape[0] :,} linhas e {dc_dfs['Ciências Humanas'].shape[1] :,} colunas.")

cols_missing_humanas = calcula_missing(dc_dfs['Ciências Humanas'])

A base com os dados de Ciências Humanas tem 7,895,093 linhas e 37 colunas.
Não há valores ausentes.
CPU times: user 402 ms, sys: 0 ns, total: 402 ms
Wall time: 402 ms

In [27]:
%%time

### Ciências Natureza

dc_dfs['Ciências Natureza'] = df_enem[
    (df_enem['presenca_ciencias_natureza'] == 'Presente')
    #   &
    # (df_enem['nota_ciencias_natureza'] != 0)
].copy()

dc_dfs['Ciências Natureza'].drop(columns =
    [
        'presenca_ciencias_humanas',
        'presenca_ciencias_natureza',
        'presenca_linguagem_codigos',
        'presenca_matematica',
        'status_redacao',
        'nota_ciencias_humanas',
        'nota_linguagem_codigos',
        'nota_matematica',
        'nota_redacao'
    ],
    inplace = True
)

dc_preditoras['Ciências Natureza'] = dc_dfs['Ciências Natureza'].columns.tolist()
dc_preditoras['Ciências Natureza'].remove('nota_ciencias_natureza')

dc_target['Ciências Natureza'] = 'nota_ciencias_natureza'

print(f"A base com os dados de Ciências Natureza tem {dc_dfs['Ciências Natureza'].shape[0] :,} linhas e {dc_dfs['Ciências Natureza'].shape[1] :,} colunas.")

cols_missing_natureza = calcula_missing(dc_dfs['Ciências Natureza'])

A base com os dados de Ciências Natureza tem 7,500,050 linhas e 37 colunas.
Não há valores ausentes.
CPU times: user 358 ms, sys: 0 ns, total: 358 ms
Wall time: 357 ms

In [28]:
%%time

### Linguagem e Código

dc_dfs['Linguagem e Código'] = df_enem[
    (df_enem['presenca_linguagem_codigos'] == 'Presente')
    #   &
    # (df_enem['nota_linguagem_codigos'] != 0)
].copy()

dc_dfs['Linguagem e Código'].drop(columns =
    [
        'presenca_ciencias_humanas',
        'presenca_ciencias_natureza',
        'presenca_linguagem_codigos',
        'presenca_matematica',
        'status_redacao',
        'nota_ciencias_humanas',
        'nota_ciencias_natureza',
        'nota_matematica',
        'nota_redacao'
    ],
    inplace = True
)

dc_preditoras['Linguagem e Código'] = dc_dfs['Linguagem e Código'].columns.tolist()
dc_preditoras['Linguagem e Código'].remove('nota_linguagem_codigos')

dc_target['Linguagem e Código'] = 'nota_linguagem_codigos'

print(f"A base com os dados de Linguagem e Código tem {dc_dfs['Linguagem e Código'].shape[0] :,} linhas e {dc_dfs['Linguagem e Código'].shape[1] :,} colunas.")

cols_missing_linguagem = calcula_missing(dc_dfs['Linguagem e Código'])

A base com os dados de Linguagem e Código tem 7,895,093 linhas e 37 colunas.
Não há valores ausentes.
CPU times: user 388 ms, sys: 25.6 ms, total: 414 ms
Wall time: 413 ms

In [29]:
%%time

### Matemática

dc_dfs['Matemática'] = df_enem[
    (df_enem['presenca_matematica'] == 'Presente')
    #   &
    # (df_enem['nota_matematica'] != 0)
].copy()

dc_dfs['Matemática'].drop(columns =
    [
        'presenca_ciencias_humanas',
        'presenca_ciencias_natureza',
        'presenca_linguagem_codigos',
        'presenca_matematica',
        'status_redacao',
        'nota_ciencias_humanas',
        'nota_ciencias_natureza',
        'nota_linguagem_codigos',
        'nota_redacao'
    ],
    inplace = True
)

dc_preditoras['Matemática'] = dc_dfs['Matemática'].columns.tolist()
dc_preditoras['Matemática'].remove('nota_matematica')

dc_target['Matemática'] = 'nota_matematica'

print(f"A base com os dados de Matemática tem {dc_dfs['Matemática'].shape[0] :,} linhas e {dc_dfs['Matemática'].shape[1] :,} colunas.")

cols_missing_matematica = calcula_missing(dc_dfs['Matemática'])

A base com os dados de Matemática tem 7,500,050 linhas e 37 colunas.
Não há valores ausentes.
CPU times: user 368 ms, sys: 75.2 ms, total: 444 ms
Wall time: 443 ms

In [30]:
%%time

### Redação

dc_dfs['Redação'] = df_enem[
    (df_enem['presenca_linguagem_codigos'] == 'Presente')
    #   &
    # (df_enem['nota_redacao'] != 0)
].copy()

dc_dfs['Redação'].drop(columns =
    [
        'presenca_ciencias_humanas',
        'presenca_ciencias_natureza',
        'presenca_linguagem_codigos',
        'presenca_matematica',
        'status_redacao',
        'nota_ciencias_humanas',
        'nota_ciencias_natureza',
        'nota_linguagem_codigos',
        'nota_matematica'
    ],
    inplace = True
)

dc_preditoras['Redação'] = dc_dfs['Redação'].columns.tolist()
dc_preditoras['Redação'].remove('nota_redacao')

dc_target['Redação'] = 'nota_redacao'

print(f"A base com os dados de Redação tem {dc_dfs['Redação'].shape[0] :,} linhas e {dc_dfs['Redação'].shape[1] :,} colunas.")

cols_missing_redacao = calcula_missing(dc_dfs['Redação'])

A base com os dados de Redação tem 7,895,093 linhas e 37 colunas.
Não há valores ausentes.
CPU times: user 367 ms, sys: 136 ms, total: 503 ms
Wall time: 503 ms

In [31]:
%%time

if \
    len(cols_missing_humanas) + \
    len(cols_missing_natureza) + \
    len(cols_missing_linguagem) + \
    len(cols_missing_matematica) + \
    len(cols_missing_redacao) == 0:

        print("Todas as bases estão sem valores missing.")

del cols_missing_humanas, cols_missing_natureza, cols_missing_linguagem
del cols_missing_matematica, cols_missing_redacao, df_enem
gc.collect()

Todas as bases estão sem valores missing.
CPU times: user 31.1 ms, sys: 0 ns, total: 31.1 ms
Wall time: 31 ms

0

In [32]:
%%time

print(f"Ciências Humanas tem {dc_dfs['Ciências Humanas'].shape[0] :,} linhas e {dc_dfs['Ciências Humanas'].shape[1] :,} colunas.")
print(f"Ciências Natureza tem {dc_dfs['Ciências Natureza'].shape[0] :,} linhas e {dc_dfs['Ciências Natureza'].shape[1] :,} colunas.")
print(f"Linguagem e Código tem {dc_dfs['Linguagem e Código'].shape[0] :,} linhas e {dc_dfs['Linguagem e Código'].shape[1] :,} colunas.")
print(f"Matemática tem {dc_dfs['Matemática'].shape[0] :,} linhas e {dc_dfs['Matemática'].shape[1] :,} colunas.")
print(f"Redação tem {dc_dfs['Redação'].shape[0] :,} linhas e {dc_dfs['Redação'].shape[1] :,} colunas.")

Ciências Humanas tem 7,895,093 linhas e 37 colunas.
Ciências Natureza tem 7,500,050 linhas e 37 colunas.
Linguagem e Código tem 7,895,093 linhas e 37 colunas.
Matemática tem 7,500,050 linhas e 37 colunas.
Redação tem 7,895,093 linhas e 37 colunas.
CPU times: user 97 μs, sys: 0 ns, total: 97 μs
Wall time: 88.2 μs

In [33]:
for k in dc_dfs.keys():

    print(f"DataFrame: {k}")
    dc_dfs[k].info(memory_usage='deep', verbose=False)
    print()

DataFrame: Ciências Humanas
<class 'pandas.core.frame.DataFrame'>
Index: 7895093 entries, 2 to 12241440
Columns: 37 entries, index to 25_flag_internet
dtypes: category(30), float16(2), int16(1), int64(1), int8(3)
memory usage: 414.1 MB

DataFrame: Ciências Natureza
<class 'pandas.core.frame.DataFrame'>
Index: 7500050 entries, 2 to 12241440
Columns: 37 entries, index to 25_flag_internet
dtypes: category(30), float16(2), int16(1), int64(1), int8(3)
memory usage: 393.4 MB

DataFrame: Linguagem e Código
<class 'pandas.core.frame.DataFrame'>
Index: 7895093 entries, 2 to 12241440
Columns: 37 entries, index to 25_flag_internet
dtypes: category(30), float16(2), int16(1), int64(1), int8(3)
memory usage: 414.1 MB

DataFrame: Matemática
<class 'pandas.core.frame.DataFrame'>
Index: 7500050 entries, 2 to 12241440
Columns: 37 entries, index to 25_flag_internet
dtypes: category(30), float16(2), int16(1), int64(1), int8(3)
memory usage: 393.4 MB

DataFrame: Redação
<class 'pandas.core.frame.DataFrame'>
Index: 7895093 entries, 2 to 12241440
Columns: 37 entries, index to 25_flag_internet
dtypes: category(30), float16(2), int16(1), int64(1), int8(3)
memory usage: 414.1 MB

## $$\texttt{pickle}$$
<hr>

In [34]:
%%time

salva_arquivo_pickle(
    'dados/pickle/dc_dfs.pkl',
    dc_dfs
)

salva_arquivo_pickle(
    'dados/pickle/dc_preditoras.pkl',
    dc_preditoras
)

salva_arquivo_pickle(
    'dados/pickle/dc_target.pkl',
    dc_target
)

salva_arquivo_pickle(
    'dados/pickle/edicoes.pkl',
    edicoes
)

CPU times: user 347 ms, sys: 777 ms, total: 1.12 s
Wall time: 3.73 s

In [ ]:
exit()

: