# <center>ENEM - pt. 3
<hr>

## <center>Inicialização
<hr>

In [1]:
from tcc_funcoes import *

=================================== Módulo importado com sucesso ===================================

In [2]:
dc_dfs = abre_arquivo_pickle('dc_dfs_sem_outliers.pkl')
dc_preditoras = abre_arquivo_pickle('dc_preditoras.pkl')
dc_target = abre_arquivo_pickle('dc_target.pkl')
edicoes = abre_arquivo_pickle('edicoes.pkl')
dc_nome_salvar = abre_arquivo_pickle('dc_nome_salvar.pkl')

## <center>Tratando para começar alguns treinamentos
<hr>

In [3]:
### Faixa Etária

dc_fx_etaria = {
    '<_17': 1,
    '17': 2,
    '18': 3,
    '19': 4,
    '20': 5,
    '21': 6,
    '22': 7,
    '23': 8,
    '24': 9,
    '25': 10, 
    '26_30': 11,
    '31_35': 12,
    '36_40': 13,
    '41_45': 14,
    '46_50': 15,
    '51_55': 16,
    '56_60': 17,
    '61_65': 18,
    '66_70': 19,
    '>_70': 20
}

for nome in dc_dfs.keys():

    dc_dfs[nome]['fx_etaria_num'] = dc_dfs[nome]['fx_etaria'].map(dc_fx_etaria).astype('category')

del dc_fx_etaria
gc.collect()

0

In [4]:
### Sexo

dc_sexo = {
    'F': 1,
    'M': 2
}

for nome in dc_dfs.keys():

    dc_dfs[nome]['sexo_num'] = dc_dfs[nome]['sexo'].map(dc_sexo).astype('category')

del dc_sexo
gc.collect()

0

In [5]:
### Estado Civil

dc_estado_civil = {
    'solteiro': 1,
    'casado': 2,
    'separado': 3,
    'viuvo': 4
}

for nome in dc_dfs.keys():

    dc_dfs[nome]['estado_civil_num'] = dc_dfs[nome]['estado_civil'].map(dc_estado_civil).astype('category')

del dc_estado_civil
gc.collect()

0

In [6]:
### Cor/ Raça

dc_cor_raca = {
    'branca': 1,
    'preta': 2,
    'parda': 3,
    'amarela': 4,
    'indigena': 5
}

for nome in dc_dfs.keys():

    dc_dfs[nome]['cor_raca_num'] = dc_dfs[nome]['cor_raca'].map(dc_cor_raca).astype('category')

del dc_cor_raca
gc.collect()

0

In [7]:
### Nacionalidade

dc_nacionalidade = {
    'brasileiro': 1,
    'naturalizado': 2,
    'estrangeiro': 3,
    'brasileiro_nascido_exterior': 4
}

for nome in dc_dfs.keys():

    dc_dfs[nome]['nacionalidade_num'] = dc_dfs[nome]['nacionalidade'].map(dc_nacionalidade).astype('category')

del dc_nacionalidade
gc.collect()

0

In [8]:
### Status do Ensino Médio

dc_conclusao_ensino_medio = {
    'ja_terminou_ensino': 1,
    'termina_no_ano_da_prova': 2,
    'termina_apos_ano_da_prova': 3,
    'nao_concluiu_nem_cursa': 4
}

for nome in dc_dfs.keys():

    dc_dfs[nome]['conclusao_ensino_medio_num'] = dc_dfs[nome]['conclusao_ensino_medio'].map(dc_conclusao_ensino_medio).astype('category')

del dc_conclusao_ensino_medio
gc.collect()

0

In [9]:
### Flag Treineiro

dc_treineiro = {
    'treineiro': 1,
    'nao_treineiro': 2
}

for nome in dc_dfs.keys():

    dc_dfs[nome]['flag_treineiro_num'] = dc_dfs[nome]['flag_treineiro'].map(dc_treineiro).astype('category')

del dc_treineiro
gc.collect()

0

In [10]:
### Língua Estrangeira

dc_lingua_estrangeira = {
    'ingles': 0,
    'espanhol': 1
}

for nome in dc_dfs.keys():

    dc_dfs[nome]['lingua_estrangeira_num'] = dc_dfs[nome]['lingua_estrangeira'].map(dc_lingua_estrangeira).astype('category')

del dc_lingua_estrangeira
gc.collect()

0

In [11]:
### Escolaridade dos Pai e da Mãe

dc_escolaridade = {
    'sem_estudo': 1,
    'nao_completou_4_ano_fundamental': 2,
    'nao_completou_8_ano_fundamental': 3,
    'nao_completou_ensino_medio': 4,
    'completou_ensino_medio': 5,
    'completou_superior': 6,
    'completou_pos_graduacao': 7
}

for nome in dc_dfs.keys():

    dc_dfs[nome]['01_escolaridade_pai_num'] = dc_dfs[nome]['01_escolaridade_pai'].map(dc_escolaridade).astype('category')
    dc_dfs[nome]['02_escolaridade_mae_num'] = dc_dfs[nome]['02_escolaridade_mae'].map(dc_escolaridade).astype('category')

del dc_escolaridade
gc.collect()

0

In [12]:
### Ocupação dos Pai e da Mãe

dc_ocupacao = {
    'trabalhador_rural': 1,
    'servicos_geral_atendimento': 2,
    'operario_trabalhador_manual': 3,
    'tecnicos_pequenos_proprietarios': 4,
    'alta_qualificacao_gestao': 5
}

for nome in dc_dfs.keys():

    dc_dfs[nome]['03_ocupacao_pai_num'] = dc_dfs[nome]['03_ocupacao_pai'].map(dc_ocupacao).astype('category')
    dc_dfs[nome]['04_ocupacao_mae_num'] = dc_dfs[nome]['04_ocupacao_mae'].map(dc_ocupacao).astype('category')

del dc_ocupacao
gc.collect()

0

In [13]:
### Quantidade de moradores

### Sem alterações necessárias

print(sorted(dc_dfs['Ciências Humanas']['05_qtde_moradores'].unique()))

for nome in dc_dfs.keys():

    dc_dfs[nome]['05_qtde_moradores_num'] = dc_dfs[nome]['05_qtde_moradores'].astype('category')

[np.float32(1.0), np.float32(2.0), np.float32(3.0), np.float32(4.0), np.float32(5.0), np.float32(6.0), np.float32(7.0), np.float32(8.0), np.float32(9.0), np.float32(10.0), np.float32(11.0), np.float32(12.0), np.float32(13.0), np.float32(14.0), np.float32(15.0), np.float32(16.0), np.float32(17.0), np.float32(18.0), np.float32(19.0), np.float32(20.0)]

In [14]:
### Renda familiar

dc_renda_familiar = {
    'sem_renda': 1,
    'ate_1.0': 2,
    'ate_1.5': 3,
    'ate_2.0': 4,
    'ate_2.5': 5,
    'ate_3.0': 6,
    'ate_4.0': 7,
    'ate_5.0': 8,
    'ate_6.0': 9,
    'ate_7.0': 10,
    'ate_8.0': 11,
    'ate_9.0': 12,
    'ate_10.0': 13,
    'ate_12.0': 14,
    'ate_15.0': 15,
    'ate_20.0': 16,
    'mais_20.0': 17
}

for nome in dc_dfs.keys():

    dc_dfs[nome]['06_renda_familiar_num'] = dc_dfs[nome]['06_renda_familiar'].map(dc_renda_familiar).astype('category')

del dc_renda_familiar
gc.collect()

0

In [15]:
### Frequência de dias com trabalhador doméstico

dc_dias_trabalhador_domestico = {
    'nenhum_dia': 1,
    'ate_dois_dias': 2,
    'ate_quatro_dias': 3,
    'mais_cinco_dias': 4
}

for nome in dc_dfs.keys():

    dc_dfs[nome]['07_dias_trabalhador_domestico_num'] = dc_dfs[nome]['07_dias_trabalhador_domestico'].map(dc_dias_trabalhador_domestico).astype('category')

del dc_dias_trabalhador_domestico
gc.collect()

0

In [16]:
### Quantidade de banheiros / quartos / carros / motocicletas / geladeiras / freezers / máquinas de lavar roupas / máquinas de secar roupas / micro-ondas / televisores em cor / celulares / computadores

### Isso são as questões 8 a 17, 19, 22 e 24

dc_qtde = {
    'zero': 1,
    'um': 2,
    'dois': 3,
    'tres': 4,
    'quatro_ou_mais': 5
}

### Flag de posse de aspirador de pó / aparelho de DVD / TV por assinatura / telefone fixo / internet

### Isso são as questões 18, 20, 21, 23 e 25

dc_posse = {
    'nao_possui': 1,
    'possui': 2
}

for nome in dc_dfs.keys():

    dc_dfs[nome]['08_qtde_banheiro_num'] = dc_dfs[nome]['08_qtde_banheiro'].map(dc_qtde).astype('category')
    dc_dfs[nome]['09_qtde_quarto_num'] = dc_dfs[nome]['09_qtde_quarto'].map(dc_qtde).astype('category')
    dc_dfs[nome]['10_qtde_carro_num'] = dc_dfs[nome]['10_qtde_carro'].map(dc_qtde).astype('category')
    dc_dfs[nome]['11_qtde_motocicleta_num'] = dc_dfs[nome]['11_qtde_motocicleta'].map(dc_qtde).astype('category')
    dc_dfs[nome]['12_qtde_geladeira_num'] = dc_dfs[nome]['12_qtde_geladeira'].map(dc_qtde).astype('category')
    dc_dfs[nome]['13_qtde_freezer_num'] = dc_dfs[nome]['13_qtde_freezer'].map(dc_qtde).astype('category')
    dc_dfs[nome]['14_qtde_maq_lavar_roupa_num'] = dc_dfs[nome]['14_qtde_maq_lavar_roupa'].map(dc_qtde).astype('category')
    dc_dfs[nome]['15_qtde_maq_secar_roupa_num'] = dc_dfs[nome]['15_qtde_maq_secar_roupa'].map(dc_qtde).astype('category')
    dc_dfs[nome]['16_qtde_micro_ondas_num'] = dc_dfs[nome]['16_qtde_micro_ondas'].map(dc_qtde).astype('category')
    dc_dfs[nome]['17_qtde_maq_lavar_louca_num'] = dc_dfs[nome]['17_qtde_maq_lavar_louca'].map(dc_qtde).astype('category')

    dc_dfs[nome]['18_flag_aspirador_po_num'] = dc_dfs[nome]['18_flag_aspirador_po'].map(dc_posse).astype('category')
    
    dc_dfs[nome]['19_qtde_tv_num'] = dc_dfs[nome]['19_qtde_tv'].map(dc_qtde).astype('category')
    
    dc_dfs[nome]['20_flag_aparelho_dvd_num'] = dc_dfs[nome]['20_flag_aparelho_dvd'].map(dc_posse).astype('category')
    dc_dfs[nome]['21_flag_tv_assinatura_num'] = dc_dfs[nome]['21_flag_tv_assinatura'].map(dc_posse).astype('category')
    
    dc_dfs[nome]['22_qtde_celular_num'] = dc_dfs[nome]['22_qtde_celular'].map(dc_qtde).astype('category')
    
    dc_dfs[nome]['23_flag_telefone_fixo_num'] = dc_dfs[nome]['23_flag_telefone_fixo'].map(dc_posse).astype('category')
    
    dc_dfs[nome]['24_qtde_computadores_num'] = dc_dfs[nome]['24_qtde_computadores'].map(dc_qtde).astype('category')
    
    dc_dfs[nome]['25_flag_internet_num'] = dc_dfs[nome]['25_flag_internet'].map(dc_posse).astype('category')

del dc_qtde, dc_posse
gc.collect()

0

In [17]:
dc_preditoras_num = {}

for nome in dc_dfs.keys():

    dc_preditoras_num[nome] = [col + '_num' for col in dc_preditoras[nome]]

del nome
gc.collect()

0

## <center>Concentração de variáveis preditoras
<hr>

In [18]:
dc_concentracao = {}

for nome, df in dc_dfs.items():

    target = dc_target[nome]

    concentracao = {}

    for coluna in dc_preditoras_num[nome]:

        contagem = df[coluna].value_counts(normalize=True)

        concentracao[coluna] = contagem.max()

    dc_concentracao[nome] = pd.DataFrame.from_dict(concentracao, orient='index', columns=['concentracao']).sort_values(by='concentracao', ascending=False).reset_index().rename(columns={'index': 'variavel'})

del nome, df, target, coluna, contagem, concentracao
gc.collect()

0

In [19]:
for nome in dc_dfs.keys():

    print(f' {nome} '.center(60, '='))

    display(dc_concentracao[nome].sort_values(by='concentracao', ascending=False).head(5))

del nome
gc.collect()

===================== Ciências Humanas =====================

                            variavel  concentracao
0                  nacionalidade_num      0.977623
1        17_qtde_maq_lavar_louca_num      0.962113
2                   estado_civil_num      0.940224
3              12_qtde_geladeira_num      0.928419
4  07_dias_trabalhador_domestico_num      0.902118

==================== Ciências Natureza =====================

                            variavel  concentracao
0                  nacionalidade_num      0.977758
1        17_qtde_maq_lavar_louca_num      0.962400
2                   estado_civil_num      0.941119
3              12_qtde_geladeira_num      0.928660
4  07_dias_trabalhador_domestico_num      0.902912

==================== Linguagem e Código ====================

                            variavel  concentracao
0                  nacionalidade_num      0.977658
1        17_qtde_maq_lavar_louca_num      0.962016
2                   estado_civil_num      0.940243
3              12_qtde_geladeira_num      0.928376
4  07_dias_trabalhador_domestico_num      0.901928

======================== Matemática ========================

                            variavel  concentracao
0                  nacionalidade_num      0.977803
1        17_qtde_maq_lavar_louca_num      0.962029
2                   estado_civil_num      0.941225
3              12_qtde_geladeira_num      0.928426
4  07_dias_trabalhador_domestico_num      0.902230

========================= Redação ==========================

                      variavel  concentracao
0            nacionalidade_num      0.977930
1  17_qtde_maq_lavar_louca_num      0.961394
2             estado_civil_num      0.940938
3        12_qtde_geladeira_num      0.927998
4         25_flag_internet_num      0.901566

0

Existem variáveis preditoras que possuem uma concentração maior que 93% que podem não agregar valor ao modelo. Assim, iremos removê-las do modelo.

In [20]:
### Removend variáveis com concentração maior que 93%

for nome, df in dc_concentracao.items():

    v_remover = df.query("concentracao > 0.93")['variavel'].tolist()

    print(f' {nome} '.center(60, '='))
    print()

    print(v_remover)
    print()

    for var in v_remover:
        dc_preditoras_num[nome].remove(var)
        dc_preditoras[nome].remove(var.replace('_num', ''))

    del v_remover, var, nome, df
    gc.collect()

===================== Ciências Humanas =====================

['nacionalidade_num', '17_qtde_maq_lavar_louca_num', 'estado_civil_num']

==================== Ciências Natureza =====================

['nacionalidade_num', '17_qtde_maq_lavar_louca_num', 'estado_civil_num']

==================== Linguagem e Código ====================

['nacionalidade_num', '17_qtde_maq_lavar_louca_num', 'estado_civil_num']

======================== Matemática ========================

['nacionalidade_num', '17_qtde_maq_lavar_louca_num', 'estado_civil_num']

========================= Redação ==========================

['nacionalidade_num', '17_qtde_maq_lavar_louca_num', 'estado_civil_num']

## <center>Matriz de correlação Phik
<hr>

In [21]:
# from phik import phik_matrix

# dc_phik = {}

# for nome, df in dc_dfs.items():

#     interval_cols = None

#     corr = phik_matrix(df[dc_preditoras_num[nome]], interval_cols=interval_cols, njobs = -1)

#     corr_2 = pd.DataFrame(corr.unstack())

#     dc_phik[nome] = corr_2.reset_index().rename(columns={0: 'phik', 'level_0': 'var_1', 'level_1': 'var_2'})

#     print(f'Matriz de correlação Phik - {nome}')

#     del nome, df, interval_cols, corr, corr_2
#     gc.collect()

# salva_arquivo_pickle(f'dc_phik.pkl', dc_phik)

In [22]:
dc_phik = abre_arquivo_pickle(f'dc_phik.pkl')

In [23]:
for nome, df in dc_phik.items():

    df = df.query("var_1 != var_2 and phik > 0.85")

    df = df.sort_values(by='phik', ascending=False).reset_index(drop=True)

    print(f' {nome} '.center(60, '='))
    print()

    print(df)
    print()

    del nome, df
    gc.collect()

===================== Ciências Humanas =====================

                        var_1                       var_2      phik
0          flag_treineiro_num  conclusao_ensino_medio_num  1.000000
1  conclusao_ensino_medio_num          flag_treineiro_num  1.000000
2          flag_treineiro_num               fx_etaria_num  0.896595
3               fx_etaria_num          flag_treineiro_num  0.896595
4               fx_etaria_num  conclusao_ensino_medio_num  0.880037
5  conclusao_ensino_medio_num               fx_etaria_num  0.880037

==================== Ciências Natureza =====================

                        var_1                       var_2      phik
0          flag_treineiro_num  conclusao_ensino_medio_num  1.000000
1  conclusao_ensino_medio_num          flag_treineiro_num  1.000000
2          flag_treineiro_num               fx_etaria_num  0.896210
3               fx_etaria_num          flag_treineiro_num  0.896210
4               fx_etaria_num  conclusao_ensino_medio_num  0.880448
5  conclusao_ensino_medio_num               fx_etaria_num  0.880448

==================== Linguagem e Código ====================

                        var_1                       var_2      phik
0          flag_treineiro_num  conclusao_ensino_medio_num  1.000000
1  conclusao_ensino_medio_num          flag_treineiro_num  1.000000
2          flag_treineiro_num               fx_etaria_num  0.896711
3               fx_etaria_num          flag_treineiro_num  0.896711
4               fx_etaria_num  conclusao_ensino_medio_num  0.880166
5  conclusao_ensino_medio_num               fx_etaria_num  0.880166

======================== Matemática ========================

                        var_1                       var_2      phik
0          flag_treineiro_num  conclusao_ensino_medio_num  1.000000
1  conclusao_ensino_medio_num          flag_treineiro_num  1.000000
2          flag_treineiro_num               fx_etaria_num  0.896244
3               fx_etaria_num          flag_treineiro_num  0.896244
4               fx_etaria_num  conclusao_ensino_medio_num  0.880460
5  conclusao_ensino_medio_num               fx_etaria_num  0.880460

========================= Redação ==========================

                        var_1                       var_2      phik
0          flag_treineiro_num  conclusao_ensino_medio_num  1.000000
1  conclusao_ensino_medio_num          flag_treineiro_num  1.000000
2          flag_treineiro_num               fx_etaria_num  0.897694
3               fx_etaria_num          flag_treineiro_num  0.897694
4               fx_etaria_num  conclusao_ensino_medio_num  0.881365
5  conclusao_ensino_medio_num               fx_etaria_num  0.881365

Analisando a matriz de correlação Phik, podemos observar que existem variáveis preditoras que possuem uma correlação muito alta entre si (mais que 85%), com um par de variáveis apresentando uma correlação perfeita. Iremos considerar a remoção de algumas dessas variáveis.

In [24]:
### Correlação perfeita

for nome, df in dc_phik.items():

    target = dc_target[nome]

    df = df.query("var_1 != var_2 and phik == 1 and var_2 != @target")

    v_remover_num = df['var_1'].unique().tolist()
    v_remover = [var.replace('_num', '') for var in v_remover_num]

    print(f' {nome} '.center(60, '='))
    print()

    df_group_by = dc_dfs[nome][v_remover].groupby(v_remover, observed=True).size().unstack()

    print(df_group_by)
    print()

===================== Ciências Humanas =====================

flag_treineiro             nao_treineiro  treineiro
conclusao_ensino_medio
ja_terminou_ensino             3611300.0        NaN
nao_concluiu_nem_cursa           26077.0        NaN
termina_apos_ano_da_prova            NaN  1396030.0
termina_no_ano_da_prova        2842090.0        NaN

==================== Ciências Natureza =====================

flag_treineiro             nao_treineiro  treineiro
conclusao_ensino_medio
ja_terminou_ensino             3401433.0        NaN
nao_concluiu_nem_cursa           22845.0        NaN
termina_apos_ano_da_prova            NaN  1309965.0
termina_no_ano_da_prova        2716790.0        NaN

==================== Linguagem e Código ====================

flag_treineiro             nao_treineiro  treineiro
conclusao_ensino_medio
ja_terminou_ensino             3605900.0        NaN
nao_concluiu_nem_cursa           25967.0        NaN
termina_apos_ano_da_prova            NaN  1393005.0
termina_no_ano_da_prova        2834223.0        NaN

======================== Matemática ========================

flag_treineiro             nao_treineiro  treineiro
conclusao_ensino_medio
ja_terminou_ensino             3419682.0        NaN
nao_concluiu_nem_cursa           22848.0        NaN
termina_apos_ano_da_prova            NaN  1309683.0
termina_no_ano_da_prova        2719893.0        NaN

========================= Redação ==========================

flag_treineiro             nao_treineiro  treineiro
conclusao_ensino_medio
ja_terminou_ensino             3521376.0        NaN
nao_concluiu_nem_cursa           24120.0        NaN
termina_apos_ano_da_prova            NaN  1336936.0
termina_no_ano_da_prova        2730107.0        NaN

A variável da flag de treineiro será removida, por apresentar uma correlação perfeita com a variável da conclusão do ensino médio e além disse acrescenta menos informação ao modelo por possuir menos categorias.

In [25]:
### Remoção da correlação perfeita

var = 'flag_treineiro'
var_num = 'flag_treineiro_num'

for nome, vetor in dc_preditoras.items():

    dc_preditoras[nome].remove(var)
    dc_preditoras_num[nome].remove(var_num)

## <center>Separação em treino e teste
<hr>

In [31]:
dc_preditoras_num['Ciências Humanas']

['fx_etaria_num',
 'sexo_num',
 'cor_raca_num',
 'conclusao_ensino_medio_num',
 'lingua_estrangeira_num',
 '01_escolaridade_pai_num',
 '02_escolaridade_mae_num',
 '03_ocupacao_pai_num',
 '04_ocupacao_mae_num',
 '05_qtde_moradores_num',
 '06_renda_familiar_num',
 '07_dias_trabalhador_domestico_num',
 '08_qtde_banheiro_num',
 '09_qtde_quarto_num',
 '10_qtde_carro_num',
 '11_qtde_motocicleta_num',
 '12_qtde_geladeira_num',
 '13_qtde_freezer_num',
 '14_qtde_maq_lavar_roupa_num',
 '15_qtde_maq_secar_roupa_num',
 '16_qtde_micro_ondas_num',
 '18_flag_aspirador_po_num',
 '19_qtde_tv_num',
 '20_flag_aparelho_dvd_num',
 '21_flag_tv_assinatura_num',
 '22_qtde_celular_num',
 '23_flag_telefone_fixo_num',
 '24_qtde_computadores_num',
 '25_flag_internet_num']

In [ ]:
from sklearn.model_selection import train_test_split

dc_treino = {}
dc_teste = {}

for nome, df in dc_dfs.items():

    x = df[dc_preditoras_num[nome]]
    y = df[dc_target[nome]]

    x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.2, random_state=42)

    dc_treino[nome] = {'x': x_treino.astype('float32'), 'y': y_treino.astype('float32')}
    dc_teste[nome] = {'x': x_teste.astype('float32'), 'y': y_teste.astype('float32')}

    ### Transforma em cudf

    dc_treino[nome]['x'] = cudf_DataFrame(dc_treino[nome]['x'])
    dc_treino[nome]['y'] = cudf_DataFrame(dc_treino[nome]['y'])
    dc_teste[nome]['x'] = cudf_DataFrame(dc_teste[nome]['x'])
    dc_teste[nome]['y'] = cudf_DataFrame(dc_teste[nome]['y'])

    print(f' {nome} '.center(60, '='))
    print()

    print(f'Tamanho treino: {dc_treino[nome]["x"].shape}')
    print(f'Tamanho teste: {dc_teste[nome]["x"].shape}')
    print()

    del nome, df, x, y, x_treino, x_teste, y_treino, y_teste
    gc.collect()

===================== Ciências Humanas =====================
Tamanho treino: (6300397, 29)
Tamanho teste: (1575100, 29)

==================== Ciências Natureza =====================
Tamanho treino: (5960826, 29)
Tamanho teste: (1490207, 29)

==================== Linguagem e Código ====================
Tamanho treino: (6287276, 29)
Tamanho teste: (1571819, 29)

======================== Matemática ========================
Tamanho treino: (5977684, 29)
Tamanho teste: (1494422, 29)

========================= Redação ==========================
Tamanho treino: (6090031, 29)
Tamanho teste: (1522508, 29)

## <center>Permutation Importance
<hr>

In [28]:
from cuml.ensemble import RandomForestRegressor

dc_rfs_permutacao = {}

for nome, df in dc_treino.items():

    print(f' {nome} '.center(60, '='))
    print()

    modelo = RandomForestRegressor(
        n_estimators=100,
        random_state=42,
        verbose=4
    )

    x_treino = dc_treino[nome]['x']
    y_treino = dc_treino[nome]['y']

    modelo.fit(x_treino, y_treino)

    dc_rfs_permutacao[nome] = modelo

    del nome, df, modelo, x_treino, y_treino
    gc.collect()

    salva_arquivo_pickle(f'dc_rfs_permutacao.pkl', dc_rfs_permutacao)

===================== Ciências Humanas =====================

==================== Ciências Natureza =====================

==================== Linguagem e Código ====================

======================== Matemática ========================

========================= Redação ==========================

In [29]:
dc_rfs_permutacao = abre_arquivo_pickle(f'dc_rfs_permutacao.pkl')

In [30]:
from sklearn.inspection import permutation_importance

dc_permutacao = {}

for nome, df in dc_treino.items():

    print(f' {nome} '.center(60, '='))
    print()

    modelo = dc_rfs_permutacao[nome]

    x_treino = dc_treino[nome]['x'].to_pandas()
    y_treino = dc_treino[nome]['y'].to_pandas()

    permutacao = permutation_importance(
        modelo,
        x_treino,
        y_treino,
        n_repeats=5,
        random_state=42,
        n_jobs=1
    )

    df_importancia = pd.DataFrame({'variavel': x_treino.columns.to_list(), 'importancia': permutacao.importances_mean, 'std': permutacao.importances_std})

    dc_permutacao[nome] = df_importancia.sort_values(by='importancia', ascending=False).reset_index(drop=True)

    del nome, df, modelo, x_treino, y_treino, permutacao, df_importancia
    gc.collect()

    salva_arquivo_pickle(f'dc_permutacao.pkl', dc_permutacao)

===================== Ciências Humanas =====================

==================== Ciências Natureza =====================

==================== Linguagem e Código ====================

======================== Matemática ========================

========================= Redação ==========================

In [ ]:
dc_concentracao['Ciências Humanas'].head()

In [ ]:
dc_phik['Ciências Humanas'].head()

In [ ]:
dc_analise_retirada = {}

for nome in dc_phik.keys():

    target = dc_target[nome]

    phik = dc_phik[nome].query(f"var_2 != '{target}' and var_1 != '{target}' and var_1 != var_2")

    phik_target = dc_phik[nome].query(f"var_2 == '{target}'")

    concentracao = dc_concentracao[nome]

    dc_analise_retirada[nome] = db.sql("""

        select

            a.*,

            c.phik as phik_target,

            b.concentracao as concentracao_var_1

        from
            phik as a

        left join
            concentracao as b
        on
            a.var_1 = b.variavel

        left join
            phik_target as c
        on
            a.var_1 = c.var_1

    """).df()

    del nome, phik, concentracao
    gc.collect()

In [ ]:
dc_analise_retirada['Ciências Humanas'].query('phik >= 0.3')

## <center>Calculando a correlação global da variável resposta com retirada recursiva de variáveis preditoras
<hr>

In [ ]:
# import phik
# import warnings

# dc_global_corr = {}

# with warnings.catch_warnings():
#     warnings.filterwarnings("ignore", category=RuntimeWarning, message="invalid value encountered in sqrt")
#     warnings.filterwarnings("ignore", category=FutureWarning, message="The behavior of DataFrame concatenation with empty or all-NA entries is deprecated")

#     for nome, df in dc_dfs.items():

#         df_global_corr = pd.DataFrame(columns=['var retirada', 'phik_global'])

#         print(f' {nome} '.center(60, '='))
#         print()

#         target = dc_target[nome]

#         interval_cols = [target]

#         preditoras = dc_preditoras_num[nome]

#         v_retirar = dc_phik[nome].query(f"var_2 == @target and var_1 != @target").sort_values(by='phik', ascending=True)['var_1'].values

#         df_phik = dc_phik[nome].query(f"var_2 == @target and var_1 != @target").sort_values(by='phik', ascending=False)[['var_1', 'phik']]

#         data = df[preditoras + [target]]

#         corr_global, labels_global = data.global_phik(interval_cols=interval_cols)

#         print(f'{corr_global[labels_global == target][0][0]:06.2%} | Dados completos')
#         df_global_corr = pd.concat([df_global_corr, pd.DataFrame([{'var retirada': '', 'phik_global': corr_global[labels_global == target][0][0]}])], ignore_index=True)

#         del corr_global, labels_global
#         gc.collect()

#         for var in v_retirar:

#             data = df[preditoras + [target]].drop(columns=[var])

#             corr_global, labels_global = data.global_phik(interval_cols=interval_cols)

#             print(f'{corr_global[labels_global == target][0][0]:06.2%} | phik = {df_phik.query("var_1 == @var")["phik"].values[0]:06.2%} | {var}')
#             df_global_corr = pd.concat([df_global_corr, pd.DataFrame([{'var retirada': var, 'phik_global': corr_global[labels_global == target][0][0]}])], ignore_index=True)

#             del corr_global, labels_global
#             gc.collect()

#         print()

#         dc_global_corr[nome] = df_global_corr

## <center>XGBoost
<hr>

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_percentage_error
from xgboost import XGBRegressor
import warnings


def r2_adjusted_score(y_true, y_pred, p):
    """
    y_true: valores reais
    y_pred: valores preditos
    p: número de features (variáveis independentes)
    """
    r2 = r2_score(y_true, y_pred)
    n = len(y_true)
    return 1 - (1 - r2) * (n - 1) / (n - p - 1)

with warnings.catch_warnings():
#     warnings.filterwarnings("ignore", category=RuntimeWarning, message="invalid value encountered in sqrt")
    warnings.filterwarnings("ignore", category=FutureWarning, message="The behavior of DataFrame concatenation with empty or all-NA entries is deprecated")

    for nome, df in list(dc_dfs.items())[0:1]:

        df_analise = pd.DataFrame(columns=['r2_treino', 'r2_teste', 'mape_treino', 'mape_teste', 'phik_com_resposta', 'variavel_adicionada'])

        print(f' {nome} '.center(60, '='))
        print()

        print('R² treino | R² teste | MAPE treino | MAPE teste | Phik com resposta | Variável adicionada')
    
        target = dc_target[nome]

        preditoras = dc_preditoras_num[nome]

        x = cudf_DataFrame(df[preditoras].astype('float32'))
        y = cudf_DataFrame(df[target])

        x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.2, random_state=42)

        modelo = XGBRegressor(
            n_estimators=100,
            learning_rate=0.1,
            max_depth=6,
            random_state=42,
            n_jobs=-1,
            device='gpu'
        )

        df_phik = dc_phik[nome].query(f"var_2 == @target and var_1 != @target")

        v_adicionar = df_phik.sort_values(by='phik', ascending=True)['var_1'].values

        vars = []

        for var in v_adicionar:

            vars.append(var)

            x_treino_reduzido = x_treino[vars]
            x_teste_reduzido = x_teste[vars]

            modelo.fit(x_treino_reduzido, y_treino)

            z_treino_reduzido = modelo.predict(x_treino_reduzido)
            z_teste_reduzido = modelo.predict(x_teste_reduzido)

            r2_treino_reduzido = r2_adjusted_score(y_treino.to_numpy(), z_treino_reduzido, len(vars))
            r2_teste_reduzido = r2_adjusted_score(y_teste.to_numpy(), z_teste_reduzido, len(vars))
            mape_treino_reduzido = mean_absolute_percentage_error(y_treino.to_numpy(), z_treino_reduzido)
            mape_teste_reduzido = mean_absolute_percentage_error(y_teste.to_numpy(), z_teste_reduzido)

            print(f'{r2_treino_reduzido:08.4%} | {r2_teste_reduzido:08.4%} | {mape_treino_reduzido:08.4%} | {mape_teste_reduzido:08.4%} | {df_phik.query("var_1 == @var")["phik"].values[0]:08.4%} | {var}')

            df_analise = pd.concat([df_analise, pd.DataFrame([{
                'r2_treino': r2_treino_reduzido,
                'r2_teste': r2_teste_reduzido,
                'mape_treino': mape_treino_reduzido,
                'mape_teste': mape_teste_reduzido,
                'phik_com_resposta': df_phik.query("var_1 == @var")["phik"].values[0],
                'variavel_adicionada': var
            }])], ignore_index=True)
        
        print()

In [ ]:
df_analise.head()

In [ ]:
df_analise.plot(x='phik_com_resposta', y='mape_teste', kind='scatter')

In [ ]:
df_analise['delta_mape_teste'] = df_analise['mape_teste'] - df_analise['mape_teste'].shift(1)



plt.figure(figsize=(10, 6))

plt.plot(
    df_analise['phik_com_resposta'],
    df_analise['delta_mape_teste'],
    marker='o',
    linestyle=''
)

plt.axhline(0, color='red', linestyle='--')

for i in range(len(df_analise)):
    if not pd.isna(df_analise['delta_mape_teste'][i]):
        plt.text(
            df_analise['phik_com_resposta'][i],
            df_analise['delta_mape_teste'][i],
            df_analise['variavel_adicionada'][i],
            fontsize=8
        )

In [ ]:
soma = 0

for valor, nome in sorted(zip(modelo.feature_importances_, modelo.feature_names_in_), reverse=True):

    soma += valor

    print(f'{valor:0.4%} : {soma:0.4%} : {nome}')

In [ ]:
pd.DataFrame(dict(zip(modelo.feature_importances_, [var.replace('_num', '') for var in modelo.feature_names_in_])), index=[0]).T.reset_index().sort_values(by='index', ascending=True).plot(kind='barh', y='index', x=0, legend=False)

In [ ]:
from sklearn.model_selection import train_test_split
import xgboost as xgb

nome = 'Ciências Humanas'

df = cudf_DataFrame(dc_dfs[nome][dc_preditoras_num[nome] + [dc_target[nome]]].astype('float32'))

target = dc_target[nome]

x_treino, x_teste, y_treino, y_teste = train_test_split(
    df[dc_preditoras_num[nome]],
    df[target],
    test_size=0.5,
    random_state=42
)

modelo = xgb.XGBRegressor(device='gpu', random_state=42)

modelo.fit(x_treino, y_treino)

In [ ]:
z_treino = modelo.predict(x_treino)
z_teste = modelo.predict(x_teste)

In [ ]:
from sklearn.metrics import r2_score, mean_absolute_percentage_error

print(f'R² Treino: {r2_score(y_treino.to_numpy(), z_treino):.4%}')
print(f'MAPE Treino: {mean_absolute_percentage_error(y_treino.to_numpy(), z_treino):.4%}')
print()
print(f'R² Teste: {r2_score(y_teste.to_numpy(), z_teste):.4%}')
print(f'MAPE Teste: {mean_absolute_percentage_error(y_teste.to_numpy(), z_teste):.4%}')

## <center>Random Forest para gerar feature importance
<hr>

In [ ]:
# %%time

# import cuml

# dc_rf = {}
# df_feature_importance = pd.DataFrame(dc_preditoras_num['Ciências Humanas'], columns=['variável'])

# for nome, df in dc_dfs.items():

#     print(f'Random Forest - {nome}')

#     target = dc_target[nome]
#     preditoras = dc_preditoras_num[nome]

#     x = df[preditoras]
#     y = df[target]

#     modelo = cuml.ensemble.RandomForestRegressor()

#     modelo.fit(x, y)

#     dc_rf[nome] = modelo

#     v_importancias = zip(dc_preditoras_num[nome], 100 * modelo.feature_importances_)

#     df_feature_importance = df_feature_importance.merge(pd.DataFrame(v_importancias, columns=['variável', f'{nome}']), on='variável', how='left')

#     del x, y, modelo, target, preditoras, nome, v_importancias, df

# gc.collect()

# salva_arquivo_pickle('dc_rf_cuml.pkl', dc_rf)
# salva_arquivo_pickle('df_feature_importance.pkl', df_feature_importance)

In [ ]:
# dc_rf = abre_arquivo_pickle('dc_rf_cuml.pkl')
# df_feature_importance = abre_arquivo_pickle('df_feature_importance.pkl')